/*
Creator: Yashpreet kundlas
Date created: 2021-08-14
date last modified: 2021-08-14
*/

header, footer {
	background-color: #EF8354;
	font-family: Comic Sans MS, helvetica, sans-serif;
	color: #ffffff;
	height: 100px;
	text-align: center;
	padding: 20px 10px 20px 10px;
}
