/*
Creator: Yashpreet kundlas
Date created: 2021-08-25
date last modified: 2021-08-25
*/




footer {
	background-color: #eee;
    color: #000000;
	height: 100px;
	text-align: center;
	padding: 20px 10px 20px 10px;
}
	
